<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>

<h1>List of Songs</h1>
<% @song.each do |song| %>
  <p><%= link_to song.title, root_path %></p>
<% end %>

<footer>
  <p>
    &copy; July 2017 Made with &#10084; by Omar
  </p>
</footer>
